@tailwind base;
@layer base {
    html {
        @apply font-instagem;
    }
}
@tailwind components;
@tailwind utilities;

.dash {
    @apply h-[1px] leading-[18px] flex-grow flex-shrink bg-dash w-full relative top-[0.8em];
}

.color-bar {
    -webkit-animation: 2s linear infinite RefreshedLoadingBarProgress,
        0.5s ease-out LoadingBarEnter;
    animation: 2s linear infinite RefreshedLoadingBarProgress,
        0.5s ease-out LoadingBarEnter;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ffd600),
        color-stop(#ff7a00),
        color-stop(#ff0169),
        color-stop(#d300c5),
        color-stop(#7638fa),
        to(#ffd600)
    );
    background: -webkit-linear-gradient(
        left,
        #ffd600,
        #ff7a00,
        #ff0169,
        #d300c5,
        #7638fa,
        #ffd600
    );
    background: linear-gradient(
        to right,
        #ffd600,
        #ff7a00,
        #ff0169,
        #d300c5,
        #7638fa,
        #ffd600
    );
}

@keyframes LoadingBarEnter {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes RefreshedLoadingBarProgress {
    0% {
        background-position: 125% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

.button-instagem {
    @apply mx-10 my-2 bg-buttonActive text-white font-semibold text-sm w-[270px] px-[9px] py-[5px] rounded;
}

.small-button {
    @apply text-[14px] text-white px-[13px] border-[1px] border-transparent rounded py-[5px] font-semibold bg-buttonActive leading-[18px];
}

.input-instagem {
    @apply border-inputBorder rounded-[3px] px-2 py-[7px] placeholder:text-[12px] font-normal w-full border-[1px] outline-inputOutline bg-250 leading-[18px];
}

.input-label {
    @apply text-[12px] text-textGray h-9 absolute left-[9px] translate-y-[-12px] top-0 origin-bottom-left scale-[0.8333];
}

.input-instagem.active {
    @apply !pt-[14px] !text-[12px];
}
